.version{
    text-align:right;
    padding-top: 0%;
    letter-spacing: 1px;
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
}

.stor {
    padding-top: 20%;
    letter-spacing: 6px;
    text-shadow: 3px 2px grey;
    font-family: "Times New Roman", Times, serif;
}


h1 { font-family: 'PT Sans', sans-serif;font-size: 43px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 32px; }

h3 { padding-left: 20px; font-family: 'PT Sans', sans-serif;font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; }

.deskContent {

    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
}

.phoneContent {

    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 2000px) {
    .deskContent {display:block;}
    .phoneContent {display:none;}
}

@media screen and (max-width: 400px) {
    .deskContent {display:none;}
    .phoneContent {display:block;}
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
