.stor {
    padding-top: 20%;
    letter-spacing: 6px;
    text-shadow: 3px 2px grey;
    font-family: "Times New Roman", Times, serif;
}
 

h1 { font-family: 'PT Sans', sans-serif;font-size: 43px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 32px; } 

h3 { padding-left: 20px; font-family: 'PT Sans', sans-serif;font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
