<div class="version">Version 0.97</div>


<a routerLink="/movie"><button class="btn btn-success" > movie </button></a>

<a routerLink="/wordnik"><button class="btn btn-success" > wordnik </button></a>


<button md-fab class="image"
        [style.backgroundImage]="'url(' + 'https://d2iltjk184xms5.cloudfront.net/uploads/photo/file/267723/small_500ae416be55d89e50f449d324a0fef9-tacknamn_odessa.jpg' + ')'">
</button>

<!--button><img ng-src="../img/odessa.jpg"/>jhfgjhfg</button-->

<router-outlet></router-outlet>

<!--button ng-submit="reload">New</button-->
