 <div> ...</div>
<div>
  <button (click)="refresh()">new lyric</button>
</div>

<div class="deskContent" >
  <div class="row">
    <div class="column">
      <div style="text-align:left">
        <!--app-wordnik></app-wordnik-->
        <h1>
          {{titelord1}} {{titelord2}}
        </h1>
        <h3>
          <div *ngFor="let row of rows">
            {{ row }}
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="phoneContent">
  <div style="text-align:left">
    <!--app-wordnik></app-wordnik-->
    <h1>
      {{titelord1}} {{titelord2}}
    </h1>
    <h3>
      <div *ngFor="let row of rows">
        {{ row }}
      </div>
    </h3>
  </div>
</div>
<div>

  <img src="assets/img/odessa.jpg" alt="image">
</div>


